.IntervalGrid table {
    /*z-index:10;*/
    align-content: center;
    margin: 5px 0;
    background-color: transparent;
    width:100%;
}

.IntervalGrid {
    /*z-index: 0;*/
    flex-flow: column;
    border: 2px solid #ccc;
    box-sizing: border-box;
    width: 97%;
    background-image: linear-gradient(to top, #385af1,#b8e0f0);
    background-color: #AFF;
    margin:10px 10px 10px 10px;
    flex-flow: column;
}

.Header{
    cursor: pointer;
    border: solid 1px #f2f2f2;
    padding: 15px 0px 0px 0px;
/*    background-color: #0089CC;*/
    background-color: #9989CC;

    color: #FFF;
    font-family: verdana;
    }